{% extends "base.htm" %} {% block content %}
<div class="text-common-text">
    <!-- <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center"> -->
    <div class="justify-self-center page items-center ">
        <h1 class="font-black text-gray-600">EzML</h1>
        <br>
        <p class="text-gray-400">Your wish is our command</p>

    </div>
</div>
</div>
<div class="container">
    <a id="abt"></a>
    <h1 class="hding text-gray-600 ">About the app</h1>
    <div class="row justify-content-end">
        <div style=" padding-top:10px;">

            <p class="mt-2 px-3 text-lg text-gray-500 leading-8">Machine Learning is a strenuous endeavor. One
                has to tackle a labyrinth information and maintain an intricate paradigm. We can continue with
                the list of overly complicated things, but that would be the one thing which we, with EzML
                detest: unwanted complexity. With our exceptional program, we are able to provide data scientists the
                required Machine Learning code with just a few clicks! Incredibly useful right?Our app is definitely
                going to
                help you become and efficient data scientist. And an efficient data scientist is a good data scientist!
            </p>
        </div>
    </div>

</div>
<div class=" container ">
    <div class=" row justify-content-end ">
        <div class=" col">
            <h1 id="feat" class="hding text-gray-600  pt-5">Features</h1>
        </div>
    </div>
    <div class="container ">
        <div class="py-12" style="border-radius:40px;">
            <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8 ">
                <div class="lg:text-center">
                    <h3
                        class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-600 sm:text-4xl sm:leading-10">
                        A better way to code Machine leraning
                    </h3>
                </div>

                <div class="mt-10">
                    <ul class="md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-10">
                        <li>
                            <div class="flex">
                                <div class="flex-shrink-0">
                                    <div
                                        class="flex items-center justify-center h-12 w-12 rounded-md bg-purple-700 text-white">
                                        <!-- Heroicon name: globe-alt -->
                                        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none"
                                            viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9" />
                                        </svg>
                                    </div>
                                </div>
                                <div class="ml-4">
                                    <h4 class="text-lg leading-6 font-medium text-gray-600">Beginner Friendly
                                    </h4>
                                    <p class="mt-2 text-base leading-6 text-gray-500">
                                        Highly accessible and can be used by anyone
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="mt-10 md:mt-0">
                            <div class="flex">
                                <div class="flex-shrink-0">
                                    <div
                                        class="flex items-center justify-center h-12 w-12 rounded-md bg-purple-700 text-white">

                                        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none"
                                            viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                d="M8 9l3 3-3 3m5 0h3M5 20h14a2 2 0 002-2V6a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
                                        </svg>
                                    </div>
                                </div>
                                <div class="ml-4">
                                    <h4 class="text-lg leading-6 font-medium text-gray-600">Open source software
                                    </h4>
                                    <p class="mt-2 text-base leading-6 text-gray-500">
                                        Open source to accommodate changes and personalisation required by different
                                        users
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="mt-10 md:mt-0">
                            <div class="flex">
                                <div class="flex-shrink-0">
                                    <div
                                        class="flex items-center justify-center h-12 w-12 rounded-md bg-purple-700 text-white">
                                        <!-- Heroicon name: lightning-bolt -->
                                        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none"
                                            viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                d="M13 10V3L4 14h7v7l9-11h-7z" />
                                        </svg>
                                    </div>
                                </div>
                                <div class="ml-4">
                                    <h4 class="text-lg leading-6 font-medium text-gray-600">Efficient
                                    </h4>
                                    <p class="mt-2 text-base leading-6 text-gray-500">
                                        Generates code in a fraction of a second
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="mt-10 md:mt-0">
                            <div class="flex">
                                <div class="flex-shrink-0">
                                    <div
                                        class="flex items-center justify-center h-12 w-12 rounded-md bg-purple-700 text-white">
                                        <!-- Heroicon name: annotation -->
                                        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none"
                                            viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z" />
                                        </svg>
                                    </div>
                                </div>
                                <div class="ml-4">
                                    <h4 class="text-lg leading-6 font-medium text-gray-600">Seamless Navigation
                                    </h4>
                                    <p class="mt-2 text-base leading-6 text-gray-500">
                                        No clutter in the interface
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class=" row justify-content-end ">
        <div class=" col">
            <h1 id="pricing" class="hding text-gray-600 pt-5">Pricing</h1>
        </div>
    </div>
    <div class="container my-12 mx-auto px-4 md:px-12 ">
        <div class="flex flex-wrap -mx-1 lg:-mx-4 justify-center">


            <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3 md:mx-2">

                <div
                    class="overflow-hidden p-2 rounded-lg  border-solid border-4 border-gray-300 hover:border-gray-800 transition ease-in-out duration-500">

                    <a class="text-center">
                        <h1 class="font-extrabold text-4xl text-gray-600 pt-2 ">Basic
                        </h1>
                        <h1 class="hding text-gray-600  p-5">$0.00
                        </h1>
                    </a>

                    <header class="flex items-center justify-between leading-tight p-2 md:p-4">
                        <h1 class="text-lg">
                            <p class="no-underline font-medium text-gray-400">
                                Features you get:-
                            <ul class="text-gray-600 px-4" style="list-style-type:circle;">
                                <li>14 days premium access</li>
                                <li>One model Unlocked</li>
                            </ul>
                            </p>
                        </h1>
                    </header>
                    <div class=" flex flex-wrap justify-center">
                    </div>

                </div>
            </div>
            <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">
                <article
                    class="overflow-hidden p-2 rounded-lg  border-solid border-4 border-gray-300 hover:border-gray-800 transition ease-in-out duration-500">

                    <a class="text-center">
                        <h1 class="font-extrabold text-4xl text-gray-600 pt-2 ">Premium
                        </h1>
                        <h1 class="hding text-gray-600  p-5">$4.99 <span class="font-xl"></span>
                        </h1>
                    </a>

                    <header class="flex items-center justify-between leading-tight p-2 md:p-4">
                        <h1 class="text-lg">
                            <p class="no-underline font-medium text-gray-400">
                                Features you get:-
                            <ul class="text-gray-600 px-4" style="list-style-type:circle;">
                                <li>Option to predict data</li>
                                <li>All models Unlocked</li>
                                <li>Access to Upcoming features</li>
                            </ul>
                            </p>
                        </h1>

                    </header>


                </article>

            </div>



        </div>

    </div>
</div>
{% endblock %}