{%extends 'base.htm'%} {%block content%}

<div class="container">
  <div class="row justify-content-center ">
    <form method=post enctype=multipart/form-data class="md:w-2/4 w-3/4rounded-lg overflow-hidden  p-10 ">
      <h1 class="text-5xl font-extrabold text-medium py-2 text-gray-500">Upload a new CSV</h1>
      <label class="block text-gray-200 font-bold text-left mb-1 mt-3 md:mb-0 pr-2 tracking-wide"
        for="inline-full-name">
        Test CSV
      </label>
      <div class="test width100  bg-purple-900 appearance-none font-medium rounded w-full py-2 px-4
      text-gray-100 leading-tight focus:outline-none focus:bg-purple-700 transition ease-in-out duration-500">
        <span>Nothing uploaded:</span>
        Test Case
        <input type=file name=test class="testUp" required>
      </div>
      <label class="block text-gray-200 font-bold text-left mb-1 mt-4 md:mb-0 pr-2 tracking-wide"
        for="inline-full-name">
        Train CSV
      </label>
      <div class="train width100 bg-purple-900 appearance-none font-medium rounded w-full py-2 px-4
        text-gray-100 leading-tight focus:outline-none focus:bg-purple-700 transition ease-in-out duration-500 ">
        <span>Nothing uploaded:</span>
        Train Case
        <input type=file name=train class="trainUp" required>
      </div>

      <input type=submit value=Upload
        class=" bg-purple-900  appearance-none outline-none hover:bg-purple-800 transition ease-in-out duration-500 my-2 focus:shadow-outline focus:outline-none text-white  p-3 mt-4 rounded">
    </form>
  </div>
</div>
{%endblock%}